.container {
    width: 45%;
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}

.item-container {
    border: 1px solid #ccc;
    padding: 10px;
    list-style-type: none;
    min-height: 100px;
}

.item {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 5px;
    cursor: move;
}

.success-message {
    margin-top: 10px;
    color: green;
    font-weight: bold;
}

button {
    margin-top: 10px;
}
body{
    background-color: green;
}
img{
    width: 200px;
    height:300px;
}